html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

/* Used to stack all elements in column fashion - RK */
.main-wrapper { 
  display: flex;
  flex-direction: column; 
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

/* Holds all the middle content - RK */
.main-container {
  flex: 1;
  display: flex; 
  padding-bottom: 5px;
}

.general-side-container {
  height: 100%;
  background-image: linear-gradient(180deg, #121212, #141414);
  border-radius: 6px; 
  margin: 3px;
  width: 450px;
  display: flex; 
  flex-direction: column; 
}


.middle-container {
  flex: 1;
  height: 100%;
  margin: 3px;
  background-image: linear-gradient(0deg,#121212 80%,#141d1f 100%);
  border-radius:7px;
}


.library-container-content {
  flex: 1;  
  overflow-y: auto;  
}

.library-container-content {
  flex: 1;  
  overflow-y: auto;  
}

