.navbar-container {
    display: flex;
    width: 100%;  /* Stretch full width */
    height: 68px;
    background-color: black;
    position: relative;  /* No absolute or fixed positioning here */
    align-items: center;  /* Center the navbar content */
  }

.spotify-button-container{
  margin-left: 15px;
  margin-right: 360px;
}
.spotify-home-button{
  all:unset;
  max-width: 65px;
  max-height: 65px;
  border-radius: 50%;
  background: none;
  margin: 0;
}
.spotify-home-button:focus{
    outline: revert;
}

.spotify-icon{
  max-width: 65px;
  border-radius: 50%;
  /* padding: 10px;s */
}

.spotify-icon:hover{
  cursor: pointer;
}

.middle-content{
  display: flex;
  justify-content: center;
  height: 50px;
  flex:1;
}

.search-bar{
  width: 500px;
}
.search-bar input{
  outline: none;
  padding-left: 60px; /* Temporary padding for search icon later*/
  padding-right: 30px;
  width: 500px;
  /* background-color: grey; */
  border-radius: 40px;
  height: 50px;
  font-size: 20px;
}

::placeholder{
  color:white;
}


.home-button-container{
  height: 50px;
  margin-right: 5px;
  border-radius: 50%;
}

.house-home-button{
  all:unset;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background: none;
  margin-right: 5px;
  height: 50px;

}

.house-icon{
  width: 50px;
  height: 50px;
  border-radius: 70%;
  /* padding: 10px;s */
}


.right-content{
  width:470px;
}